@page "/text-to-speech"
@inject IJSRuntime JSRuntime

<h3>Text-to-Speech</h3>

<div class="mb-2">
    <input @bind="language" placeholder="Wpisz kod języka (np. en-US)" style="width:300px;" />
    <input @bind="textToSpeak" placeholder="Wpisz tekst do odczytania..." style="width:300px;" />
</div>

<button class="btn btn-primary" @onclick="() => SpeakText(language)">Czytaj na głos</button>

@code {
    private string textToSpeak = "Hello world";
    private string language = "pl-PL"; // Domyślny język

    private async Task SpeakText(string language)
    {
        // Wywołanie JS, który użyje Web Speech API (speechSynthesis)
        await JSRuntime.InvokeVoidAsync("speechSynthesisInterop.speak", textToSpeak, language);
    }
}
